<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>

    <!-- generic settings START -->
    <add key="IntranetUrl" value="http://portal" />
    <!-- generic settings END -->

    <!-- site level provision START -->
    <add key="ShouldDeployTaxonomy" value="false" />

    <add key="ShouldDeploySandboxSolutions" value="false" />

    <add key="ShouldDeploySiteFeatures" value="false" />
    <add key="ShouldDeploySiteSecurity" value="false" />
    <add key="ShouldDeployFieldsAndContentTypes" value="false" />

    <!-- site level provision END -->

    <!-- root web level provision START -->

    <add key="ShouldDeployRootWeb" value="false" />
    <add key="ShouldDeployStyleLibrary" value="false" />

    <!-- root web level provision END -->

    <!-- sub webs level provision START -->

    <add key="ShouldDeployFinanceWeb" value="false" />
    <add key="ShouldDeploySalesWeb" value="false" />
    <add key="ShouldDeployTesmsWeb" value="false" />

    <!-- sub webs level provision END -->

  </appSettings>

  <system.diagnostics>
    <sources>
      <!-- SPMeta2 logging -->
      <source name="SPMeta2" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>

          <add name="SPMeta2.ConsoleLog"
               type="System.Diagnostics.ConsoleTraceListener">
          </add>

          <add name="SPMeta2.DelimitedLog"
               type="System.Diagnostics.DelimitedListTraceListener"
               delimiter=":"
               initializeData="spmeta2.delimited.txt"
               traceOutputOptions="ProcessId, DateTime, Timestamp" />

          <!--
          
          <add name="SPMeta2.TextLog"
               traceOutputOptions="Timestamp"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="spmeta2.log">
          </add>

          <add name="SPMeta2.XmlLog"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="spmeta2.xml.log"
               traceOutputOptions="ProcessId, DateTime, Timestamp" />

          <add name="SPMeta2.WebPageLog"
               type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
               
           -->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Information"/>
    </switches>
  </system.diagnostics>
</configuration>